* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}
.column {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}
.block {
    width: 40vw;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.city1 {
    background-image: url("https://cdn.pixabay.com/photo/2019/03/28/18/46/rome-4087802_1280.jpg");
}
.city2 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Bostonstraight.jpg/1600px-Bostonstraight.jpg");
}
.city3 {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Paris_vue_d%27ensemble_tour_Eiffel.jpg/1599px-Paris_vue_d%27ensemble_tour_Eiffel.jpg");
}
.overlay {
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left:0;
    background-color: rgba(255,255,255, 0.2);

}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

h1 {
    font-size: 50px;


}
